Package: luminance
Version: 1.0.1
Architecture: amd64
Maintainer: Swapnil Devesh <me@sidevesh.com>
Homepage: https://github.com/sidevesh/Luminance
Description: A simple GTK application to control brightness of displays including external displays supporting DDC/CI
License: GPL-3.0
Depends: libgtk-3-0, ddcutil
