name: Upload release assets

permissions:
  contents: write

on:
  release:
    types:
      - created

env:
  CI: true

jobs:
  package-deb:
    name: Build and upload deb package
    runs-on: ubuntu-24.04
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc meson libglib2.0-dev libgtk-4-dev libadwaita-1-dev libddcutil-dev

      - name: Set up Git repository
        uses: actions/checkout@v2

      - name: Initialize ddcbc-api git submodule
        run: git submodule update --init ddcbc-api

      - name: Build package
        run: make package-deb

      - name: Upload package
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./build/packaging/outputs/luminance.deb
          asset_name: luminance-${{ github.event.release.tag_name }}.deb
          tag: ${{ github.ref }}

  package-rpm:
    name: Build and upload rpm package
    runs-on: ubuntu-latest
    container:
      image: fedora:latest
    steps:
      - name: Install dependencies
        run: |
          sudo dnf -y upgrade
          sudo dnf install -y git-all gcc meson glib2-devel gtk4-devel libadwaita-devel libddcutil-devel fedora-packager rpmdevtools

      - name: Set up Git repository
        uses: actions/checkout@v2

      - name: Initialize ddcbc-api git submodule
        run: |
          git config --global --add safe.directory /__w/Luminance/Luminance
          git submodule update --init ddcbc-api

      - name: Build package
        run: make package-rpm

      - name: Upload package
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./build/packaging/outputs/luminance.rpm
          asset_name: luminance-${{ github.event.release.tag_name }}.rpm
          tag: ${{ github.ref }}

  package-zip:
    name: Create zip for publishing
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2

      - name: Create zip
        run: |
          cd gnome-extension/luminance-extension@sidevesh
          zip -r ../../luminance-extension@sidevesh.zip *
          cd ../..

      - name: Upload package
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./luminance-extension@sidevesh.zip
          asset_name: luminance-extension@sidevesh.zip
          tag: ${{ github.ref }}
